.header{
    background-color: #F9F7FE;
text-align: center;
padding: 160px 20px;}
.header p{
    color: #272142;
font-family: "Poppins", sans-serif;
font-size: 36px;
font-weight: 700;
}
.header h2{
    color: #272142;
    font-family: "Poppins", sans-serif;
    font-size: 24px;}
.header h1{
        font-size: 96px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        }
h4{
    font-size: 48px;
}
.button , .contactme{
background-color: #6C63FF;
color: white;
text-decoration:none ;
border-radius: 4px;
padding: 18px 30px;
font-size: 18px;
font-family: "Poppins", sans-serif;
font-weight: 500;
margin: 100px 0;}
.subject{font-family: "Playfair Display", serif;
font-size: 64px;
font-weight: 700;}
.content{    font-family: "Poppins", sans-serif;
font-size: 16px;
font-weight:500;
line-height: 30px;
opacity: 70%;
color: #272142
;
}
.Learnmorebtn{  
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #6C63FF;
    border-radius: 4px;
    padding: 18px 30px;
    border: 1px solid #6C63FF ;
    text-decoration: none;
    margin-top: 10px;
    }
.col{
    padding: 20px 60px;}
.logo{max-width: 150px;
    }
    nav{margin: 20px;
    padding: 20px 0px;}
    nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
nav a{
    text-decoration: none;
    color: #272142;
}
nav a:hover, nav li.active a{
    color: #6C63FF;
    transition: all 100ms ease-in-out;
}
nav ul{
    padding: 0;
    margin: 0;
}
.col-lg-6{
    padding-bottom:
     20px ;
    }
footer{
    margin: 30px 0;
}
footer .contact-box{
    background-color: #F9F7FE;
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p{
    margin: 0;
    font-size: 18px;
}
footer .email-links{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 24px;
    opacity: 80%;
    transition: all 150ms ease-in-out;
}
footer .email-links:hover{
    color: #6C63FF;
}
footer .social-media a{
    margin: 0 20px;
    color: #6C63FF;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #F9F7FE;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}
footer .social-media a:hover{
   color: white;
   background-color: #6C63FF;}
@media(max-width:990px){
.col{
    text-align: center;
    padding:0px 10px;
}
.header h1{
    font-size: 45px;
    line-height:1.4
}
.subject{ 
    font-size: 44px;
}
.section-about h1{
    font-size: 45px;
    text-align: center; 
}
.section-about h3{
    text-align: center;
}
.link{
    text-align: center;
}
.col-lg-6{
    text-align: center;
}
.logo{
    max-width: 70px;
    max-height: 25px;
    margin-top: 8px;
}
nav a{
    font-size: 12px;
}
h4{
    font-size: 26px;
}

}
.section-about h1{
    font-size: 64px;
    line-height: 80px;
    font-family: "Playfair Display", serif;
    font-weight: 700;}
.section-about h2{
    font-size: 18px;
    font-family:"Poppins", sans-serif ;
    font-weight: 700;}
.section-about{

    padding: 130px 30px;}
.projectsbtn{
    background-color: #6C63FF;
    color: white;
    text-decoration:none ;
    border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
   }
   .section-about h3{font-size:24px ;
    font-family: "Poppins", sans-serif ;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0}
.section-about p{
    font-family: "Poppins", sans-serif ;
    font-weight: 700;
    font-size: 14px;
    opacity: 70%;
   
;}
.section-about a{line-height: 3;}
   
 